// Static Pages Common Styles
.static-page {
  padding-top: 80px; // Space for fixed navbar
  min-height: 100vh;
  background: #fff;
  color: #333;
  line-height: 1.6;
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #2c1810;
    margin-bottom: 1.5rem;
  }
  
  p {
    margin-bottom: 1.5rem;
  }
  
  a {
    color: #8b6f47;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
  
  // Make sure content is not hidden behind the fixed navbar
  section {
    scroll-margin-top: 80px;
  }
}
