<header class="navbar-container" [ngClass]="navbarClasses">
  <nav class="navbar">
    <a class="logo" routerLink="/">Talking Canvas</a>
    <ul class="nav-links">
      <li *ngIf="!authService.isLoggedIn()"><a routerLink="register">Signup</a></li>
      <li *ngIf="!authService.isLoggedIn()"><a routerLink="login">Login</a></li>

      <li *ngIf="authService.isLoggedIn()">{{ isAdmin ? 'WELCOME ADMIN' : 'Welcome' }} {{currentUser?.name}}</li>
      <strong>|</strong>
      <li><a href="#gallery">Gallery</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
<!--      <li *ngIf="authService.isLoggedIn()><strong> |</strong></li>-->
      <li *ngIf="authService.isLoggedIn()"><strong>|</strong></li>
      <li *ngIf="authService.isLoggedIn()"><a routerLink="/logout">Logout</a></li>
    </ul>
  </nav>
