<header class="navbar-container" [ngClass]="navbarClasses">
  <nav class="navbar">
    <a class="logo" routerLink="/">TalkingCanvas</a>
    <ul class="nav-links">
      <!-- Guest View -->
      <ng-container *ngIf="!authService.isLoggedIn()">
        <li><a routerLink="paintings">Gallery</a></li>
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="contact">Contact</a></li>
        <li><a routerLink="register">Signup</a></li>
        <li><a routerLink="login">Login</a></li>
      </ng-container>

      <!-- Logged In View -->

      <li class="dropdown">
        <span class="dropbtn">{{ isAdmin ? 'WELCOME ADMIN' : 'Welcome' }} {{currentUser?.name}} <i
            class="arrow-down"></i></span>
        <div class="dropdown-content">
          <ng-container *ngIf="authService.isLoggedIn()">
            <a routerLink="cart">Cart ({{cartItemCount}})</a>
          </ng-container>
          <a routerLink="paintings">Gallery</a>
          <a routerLink="about">About</a>
          <a routerLink="contact">Contact</a>
          <a *ngIf="isAdmin" routerLink="/admin">Dashboard</a>
          <a *ngIf="authService.isLoggedIn()" routerLink="/logout">Logout</a>
        </div>
      </li>
    </ul>
  </nav>