<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="footer-content">
      
      <div class="footer-links">
        <a routerLink="/cookie-policy" class="footer-link">Cookie Policy</a>
        <span class="divider">|</span>
        <a routerLink="privacy-policy" class="footer-link">Privacy Policy</a>
        <span class="divider">|</span>
        <a routerLink="/return-and-refund" class="footer-link">Return & Refund</a>
        <span class="divider">|</span>
        <a routerLink="/shipping-and-delivery" class="footer-link">Shipping</a>
        <span class="divider">|</span>
        <a routerLink="/terms-and-conditions" class="footer-link">Terms of Service</a>
      </div>
      <span class="main-divider">|</span>
      <p class="copyright">&copy; 2025 TalkingCanvas. All rights reserved.</p>
      
    </div>
  </div>
</footer>
